.zoom-container {
  width: 300px; /* (actualWidth * 0.25) */
  height: 157.5px; /* (actualHeight * 0.25 */
  display: inline-block;
}

.preview {
  margin-bottom: 20px;
}

.preview-box {
  /* zoom: 0.3; */
  transform: scale(0.25);
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  /* width: 100%; */
  /* max-width: 1200px; */
  margin-left: -450px; /* (actualWidth - scaledWidth) / 2 */
  margin-right: -450px; /* (actualWidth - scaledWidth) / 2 */
  margin-top: -236.25px; /* (actualHeight - scaledHeight) / 2 */
  margin-bottom: -236.25px; /* (actualHeight - scaledHeight) / 2 */
}

.background {
  position: relative;
  width: 1200px;
  height: 630px;
}

.image-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 90%;
  max-width: 800px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 15px 55px -25px rgba(0, 0, 0, 0.3);
}
